In [2]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

df = pd.read_csv('auto-mpg.csv')
data = df.values
mpg = data[:,0]
df.head()

    mpg  cylinders  displacement  horsepower  weight  acceleration
0  18.0          8         307.0       130.0    3504          12.0
1  15.0          8         350.0       165.0    3693          11.5
2  18.0          8         318.0       150.0    3436          11.0
3  16.0          8         304.0       150.0    3433          12.0
4  17.0          8         302.0       140.0    3449          10.5

# Challenge 1
1. define a function __get_range__ that accepts a list, turns it into a numpy array
 and the returns the min and  max values as a tuple   
 - np.array()   
 - array.min()  
 - array.max()

# Challenge 2
1. define a function __get_stats__ that accepts a list, turns it into a numpy array and the returns the sum, mean, median, and std values as a tuple   
 - np.array()   
 - np.sum()   
 - np.mean()   
 - np.median()   
 - np.std()

2.0

# Challenge 3
1.  define a function analyze that accepts a numpy array
2. it should print to the console, with corresponding labels:
 - the min and max values
 - the mean value of the data
 - the median value of the data
 - the standard deviation of the data
7. finally, generate a histogram of the data and show it
8. call your function with the  mpg array from the auto-mpg data set

# Challenge 4
1. compute the dot product of the two vectors
 - np.dot()

# Challenge 5
1. compute the transpose of a matix using .transpose()
 - np.transpose() or array.T

In [1]:
matrix = np.array([[20,30], [100,200]])

# Challenge 6
1. Use np.random.rand(length) to generate an array of random values,
2. then plot a histogram
 - plt.hist()
 - np.random.rand()
 - plt.show()

## Challenge 7
1. use np.arange(start,end, step) to generate a large array of the even numbers up to 100   
2. select the items divisible by 3 by using subseting, save them to a variable __divs_by__

## Extra:
 investigate the functionality of the following np methods   
1. np.random.uniform   
2. np.random.normal   
3. np.ones  
4. np.linspace  
5. np.zeros  
6. ndarray.reshape   
7. np.logspace  

__Advanced__   
8. np.random.permutation   
9. np.random.choice   
10. np.column_stack   
11. np.bincount   
12. np.unique  
   
explore further: https://github.com/kuleshov/cs228-material/blob/master/tutorials/python/cs228-python-tutorial.ipynb   
note, the above tutorial is in python 2.7